
<ion-header>
  <ion-toolbar>
    <ion-title>Bem Vindo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>O Vizinho Solidário conecta pessoas que querem ajudar, com quem precisa de ajuda, na sua comunidade.</h2>

  <h3>Como funciona:</h3>
  <ol>
    <li>Escolha se você quer oferecer ajuda ou pedir ajuda.</li>
    <li>Realize o cadastro com suas informações e descreva que tipo de ajuda precisa ou pode oferecer.</li>
    <li>Veja o mural de pessoas que correspondem à sua escolha e entre em contato rapidamente.</li>
    <li>Faça a diferença na sua vizinhança de forma segura e colaborativa!</li>
  </ol>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fale Conosco</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Contato: (11) 99999-9999</strong></p>
      <p><strong>Endereço: Rua das Flores, 123 – Bairro Jardim, Porto Alegre – RS</strong></p>
    </ion-card-content>
  </ion-card>

</ion-content>
