<ion-header>
  <ion-toolbar>
    <ion-title>Mural Solidário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Filtro -->
  <ion-segment [(ngModel)]="filtroSelecionado">
    <ion-segment-button value="Todas">Todas</ion-segment-button>
    <ion-segment-button value="Voluntário">Voluntário</ion-segment-button>
    <ion-segment-button value="Preciso de ajuda">Preciso de ajuda</ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let item of filtrarSolicitacoes()">
      <ion-label>
        <h2>{{ item.nome }}</h2>
        <p>{{ item.cidade }}</p>
        <p>{{ item.descricao }}</p>
        <p>📞 {{ item.telefone }}</p>
        <ion-badge color="primary">{{ item.tipo }}</ion-badge>
      </ion-label>
    

    </ion-item>
  </ion-list>

</ion-content>